<div class="grid grid-cols-3 p-6">
  <app-sidebar></app-sidebar>
  <div class="col-span-2 border-l-2 h-full">
    <ng-template #dynamic>
    </ng-template>
  </div>
</div>
<p-dialog [(visible)]="displayModal" [draggable]="false" [modal]="true" [resizable]="false"
          [style]="{width: '50vw'}" header="Customize your element">
  <div *ngIf="configs?.tagName==='button'">
    <app-button-form
      (save)="save($event)"
    ></app-button-form>
  </div>
  <div *ngIf="configs?.tagName === 'image'">
    <app-image-form
      (save)="save($event)"
    ></app-image-form>
  </div>
  <div *ngIf="configs?.tagName === 'list'">
    <app-list-form
      (save)="save($event)"
    ></app-list-form>
  </div>
  <div *ngIf="configs?.tagName === 'menu'">
    <app-menu-form
      (save)="save($event)"
    ></app-menu-form>
  </div>
</p-dialog>


