<form [formGroup]="form">
  <div class="field col-12 md:col-4">
    <label for="header">Header</label>
    <input
      formControlName="header"
      id="header"
      pInputText
      placeholder="List header"
      type="text"
    />
  </div>
</form>
<div class="flex justify-content-between gap-4 mb-2">
  <input [(ngModel)]="newTask" pInputText placeholder="List item" type="text" />
  <button (click)="addToList()" class="list-btn p-button-success" pButton>
    Add Task
  </button>
</div>
<div
  *ngFor="let listItem of items; let index = index"
  class="flex items-center justify-between w-full mb-2"
>
  <div class="w-full border-b-2 border-gray-400 py-4">{{ listItem }}</div>
  <button
    (click)="deleteTask(index)"
    class="p-button-danger"
    pButton
    type="button"
  >
    Delete
  </button>
</div>
<div class="flex mt-2">
  <p-button
    (click)="submit()"
    class="ml-auto"
    icon="pi pi-check"
    label="Submit"
    styleClass="p-button-text"
    type="submit"
  ></p-button>
</div>
